div.error-display-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  text-align: center;
}

div.error-display-wrapper > h1 {
  font-size: 2.5rem;
}

div.error-display-wrapper > p {
  font-size: 1.25rem;
}

.error-display-icon {
  width: 100px;
}

@media (max-width: 980px) {
  div.error-display-wrapper > h1 {
    font-size: 4rem;
  }
  
  div.error-display-wrapper > p {
    font-size: 3rem;
  }
  
  .error-display-icon {
    width: 200px;
  }
}