div.project-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
}

div.project-section-header {
  display: flex;
  flex-direction: row;
  gap: 5em;
  align-items: center;
  padding: 0 1em;
  width: fit-content;
  margin: 0 auto;
}

div.project-section-header>h2 {
  color: var(--project-color);
}

div.project-section-header-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

p.project-section-short-description {
  text-align: justify;
  padding: 0 0.5em;
  width: fit-content;
  margin: 0 auto;
}

div.project-section-long-description-wrapper {
  z-index: 1;
  border-radius: 50%;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border-nav-a);
  border-color: var(--project-color);
  font-size: 15px;
}

p.project-section-long-description {
  max-height: 68%;
  max-width: 68%;
  text-align: center;
  white-space: pre-line;
}

div.project-description-wrapper {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

div.project-description-wrapper>* {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media (max-width: 980px) {
  div.project-description-wrapper {
    width: 600px;
    height: 600px;
  }

  div.project-section-long-description-wrapper {
    font-size: 22px;
  }
}