div.nav-option-contents-wrapper {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 2;
  border: var(--border-nav-a);
}

button.nav-go-button {
  border-width: 3px;
  border-style: solid;
  color: var(--clr-accent-c);
  width: 50%;
  height: 25%;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  font-size: 1.5rem;
  font-family: var(--font-h);
  transition: color 250ms linear, font-size 250ms linear;
}

button.nav-go-button:hover {
  font-size: 2rem;
  color: var(--clr-accent-b);
}

button.nav-go-button:active {
  transform: scale(0.9);
}

div.nav-option-contents-wrapper>p {
  width: 75%;
  height: 15%;
  text-align: center;
  font-size: 1.5rem;
}