button.slider-status-icon-wrapper {
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: var(--clr-accent-c);
}

button.slider-status-icon-wrapper:hover, button.slider-status-icon-wrapper:active {
  animation-name: linkHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}