button.slider-status-icon-wrapper {
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: var(--clr-accent-c);
  transition: color 200ms;
}

button.slider-status-icon-wrapper:hover {
  color: var(--clr-accent-b);
}