.mail-copy-link {
  width: 30px;
  height: 30px;
}

.mail-copy-link:active {
  transform: scale(0.9);
}

@keyframes linkHover {
  from {
    color: var(--clr-accent-c);
  }
  to {
    color: var(--clr-accent-b);
  }
}

.mail-copy-link>button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: var(--clr-accent-c);
}

.mail-copy-link>button:hover, .mail-copy-link>button:active {
  animation-name: linkHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}