div.welcome-page-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.welcome-page-skip-link {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 0 0.5em;
  width: fit-content;

  border-width: 0 5px 0 5px;
  border-style: ridge;

  border-radius: 5px;
}

.welcome-page-skip-link:hover {
  color: var(--clr-accent-b);
}