div.blog-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1em;
  text-align: center;
}

div.blog-section-wrapper h3 {
  font-family: var(--font-primary);
}