div.welcome-game-goal {
  font-size: 1.5em;
  user-select: none;
}

@keyframes goalColorChange {
  from {
    color: var(--clr-text-a);
    font-size: 1.8rem;
  }
  to {
    color: var(--clr-accent-c);
    font-size: 2.5rem;
  }
}

div.goal-complete {
  animation-name: goalColorChange;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}