div.about-wrapper {
  width: min(100vw, 40rem);
  margin: 0 auto;
  padding: 1.5em 0;
}

@media (max-width: 980px) {
  div.about-wrapper {
    width: 90%;
  }

  div.about-wrapper>div {
    padding: 1em 0;
  }
}