div.welcome-game-star-wrapper {
  width: fit-content;
  display: inline-block;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

div.welcome-game-star {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;

  user-select: none;

  font-size: 2rem;
  border-radius: 5px;

  pointer-events: all;
}

div.welcome-game-star > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

div.welcome-game-star:hover {
  cursor: pointer;
}

@media (max-width: 980px) {
  div.welcome-game-star {
    font-size: 1.5em;
  }
}