div.welcome-game-star-wrapper {
  width: fit-content;
  display: inline-block;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

div.welcome-game-star {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  font-size: 2rem;
  padding: 0.5em;

  pointer-events: all;
}

div.welcome-game-star:hover {
  cursor: pointer;
}