@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

div.contact-widget-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  font-size: min(2.5vw, 2.5vh);
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

div.contact-widget-wrapper h2 {
  font-size: 1.8em;
  color: var(--clr-accent-c);
  text-align: center;
  border-style: solid;
  border-width: 0 0 2px 0;
  width: 100%;
  padding: 0.2em 0;
  margin: 0 auto;
}

div.contact-widget-wrapper span {
  font-size:1.3em;
}

div.contact-widget-wrapper>ul { 
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

div.contact-widget-mail-wrapper {
  border-width: 1px 0;
  border-style: solid;
  padding: 0.5em 0.8em;
  /* border-radius: 10px; */
}

div.contact-widget-mail-copy-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  width: 5em;
  margin: 0.2em auto;
}

@media (max-width: 980px) {
  div.contact-widget-wrapper span {
    font-size: 1.5em;
  }
}