div.nav-icon-wrapper {
  position: absolute;
  height: 100%;
  width: 10%;
  padding-top: 5%;
  pointer-events: none;
}

div.nav-icon-wrapper>button {
  width: 100%;
  z-index: 1;
  pointer-events: all;
  cursor: pointer;
}