div.welcome-game-wrapper {
  position: absolute;
  inset: 0%;
  overscroll-behavior: none;
}

div.welcome-game-spawner {
  position: absolute;
  inset: 10%;
}

p.welcome-game-hint {
  position: fixed;
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}