div.nav-go-button-wrapper {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 2;
  border: var(--border-nav-a);
}

div.nav-go-button-wrapper>button {
  border-width: 3px;
  border-style: solid;
  border-color: var(--clr-accent-c);
  color: var(--clr-accent-c);
  width: 50%;
  height: 25%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  font-size: 2rem;
}

div.nav-go-button-wrapper>button:hover, div.nav-go-button-wrapper>button:active {
  border-color: var(--clr-accent-b);
  color: var(--clr-accent-b);
}

div.nav-go-button-wrapper>p {
  width: 75%;
  height: 15%;
  text-align: center;
}