div.nav-go-button-wrapper {
  background-color: green;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.nav-go-button-wrapper>button {
  background-color: red;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}