footer {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0em;
  height: 4em;
  width: fit-content;
  margin: 0 auto;
  padding: 1em 2em;
  border-top: 1px solid var(--clr-accent-c);
  /* background-color: red; */
}

footer>ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* background-color: blue; */
  height: 100%;
}

footer>div {
  width:2em;
}

@media (max-width: 980px) {
  footer {
    height: 5.5em;
  }

  footer>div {
    width:3em;
  }
}