div#background {
  position: fixed;
  inset: 0;
  background-color: var(--clr-bg-a);
  background-image: url('../../assets/images/background/bg_01.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}