div.blogs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: min(100vw, 40rem);
  margin: 0 auto;
  padding: 1.5em 0;
}

div.blogs-wrapper>a {
  width: fit-content;
  margin: 0 auto;
}