html {
  color: var(--clr-text-a);
  background-color: var(--clr-bg-a);
  height: 100%;
  -webkit-tap-highlight-color:transparent
}

body {
  height: 100%;
}

div#root {
  height: 100%;
}

@keyframes linkHover {
  from {
    color: var(--clr-accent-c);
  }
  to {
    color: var(--clr-accent-b);
  }
}

a {
  color: var(--clr-accent-c);
}

a:hover, a:active {
  animation-name: linkHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media (max-width: 980px) {
  
}