.icon-link {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.icon-link>img {
  height: 100%;
  border-radius: 50%;
  border-style: solid;
  background-color: var(--clr-accent-a);
  border-color: var(--clr-accent-a);
  border-width: 1px;
  transition: background-color 200ms, border-color 200ms;
}

.icon-link:hover>img {
  background-color: var(--clr-accent-b);
  border-color: var(--clr-accent-b);
}

.icon-link:active>img {
  transform: scale(0.9);
}