div.slider-wrapper {
  border-width: 3px 0 3px 0;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  touch-action: none;
  user-select: none;
}

div.slider-wrapper-inner {
  width: var(--slider-width);
  flex-grow: 1;
}

div.slider-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

div.slider-inner>div {
  width: 100%;
  padding: 1em;
  overflow: hidden;
}