div.slider-wrapper {
  border-width: 3px;
  border-style: solid;
  box-sizing: border-box;
  height: 25em;
  position: relative;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.slider-wrapper-inner {
  width: 300%;
  flex-grow: 1;
}

div.slider-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}

div.slider-inner>div {
  width: 100%;
  padding: 1em;
  overflow: hidden;
}